{% extends '_base.html' %}
{% load static  %}

{% block content %}

<!-- Page container -->
<div class="page-container">

	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<div class="page-header page-header-default">
				
			</div>

			<div class="content">

				<div class="panel panel-body border-top-primarys text-center">					
					<form id="test_form" method="POST" action="{% url 'testroom_index' %}">						
						{% csrf_token %}
						<input type="hidden" name="item_id" value="{{item.item_id}}">
						<div class="form-group">
							<h6>“To what extent do I like to…?” There is no time limit.</h6>
							<h2>{{item.label}}</h2>
						</div>
						<div class="radio">
							<div class="form-group">
								<label class="radio-inline">
									<input type="radio" name="item_choice" value="1">
									Very Little
								</label>
								<label class="radio-inline">
									<input type="radio" name="item_choice" value="2">
									Little
								</label>
								<label class="radio-inline">
									<input type="radio" name="item_choice" value="3">
									Normal
								</label>
								<label class="radio-inline">
									<input type="radio" name="item_choice" value="4">
									Much
								</label>
								<label class="radio-inline">
									<input type="radio" name="item_choice" value="5">
									Very Much
								</label>
							</div>						
						</div>						
					</form>
				</div>
			
			</div>


			<div class="content-divider form-group"><span> </span></div>				

		</div>
		<!-- /Main content -->

	</div>
	<!-- /Page content -->

</div>
<!-- /Page container -->

<script>
	$(function(){
		$('input[type="radio"]').click(function(){
			if ($(this).is(':checked'))
			{
			 	$("#test_form").submit();
			}
		});
	});
</script>


{% endblock %}
